<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

</style>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Вот все твои записи</h1>

<!--<a th:text="${all.getAllBase()}" &ndash;&gt;</a>-->
<br>
<div th:each="all : ${all}">
    <a th:text="${all.getName()}"
       th:href="@{/main/{id}(id=${all.getId()})}">base</a>
    <!--    <button type="submit" th:href="@{/ToDO/{id}(id=${plan.getId()})}">Update</button>-->
    <!--    &ndash;&gt;-->
</div>
<!--Название: <a th:text="${task.getName()}"&ndash;&gt;</a>-->
<!--<br>-->
<!--Описание: <a th:text="${task.getDescription()}"&ndash;&gt;</a>-->
<!--<br>-->
<!--Дата:<a th:text="${task.getTime()}"&ndash;&gt;</a>-->
<!--<br>-->
<!--Еще доступно?:<a th:text="${task.getActive()}"&ndash;&gt;</a>-->
<!--<br>-->
<!--Важность:<a th:text="${task.getRating()}"&ndash;&gt;</a>-->


</body>
</html>