<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Home Page</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Меняй меня, если сможешь </h1>-->

<!--<form th:action="@{/main/edit/{id}(id=${base.getId()})}" th:object="${base}" method="post">-->
<!--    Название цели: <input type="text" th:field="*{name}"><br/>-->
<!--    Описание: <input type="text" step="any" th:field="*{description}"><br/>-->
<!--    Важность: <div><input type="radio" value="1" th:field="*{rating}"/>-->
<!--    <input type="radio" value="2" th:field="*{rating}"/>-->
<!--    <input type="radio" value="3" th:field="*{rating}"/>-->
<!--    <input type="radio" value="4" th:field="*{rating}"/>-->
<!--    <input type="radio" value="5" th:field="*{rating}"/></div>-->
<!--    <label for="localdate">Дата и время: </label>-->
<!--    <input type="datetime-local" id="localdate" th:field="*{time}"/><br/>-->
<!--    <fieldset style="width:10em">-->
<!--        <legend>Выполнено:</legend>-->
<!--        <div>-->
<!--            <input type="checkbox" id="scales" th:field="*{active}" checked />-->
<!--            <label for="scales">да</label>-->
<!--        </div>-->
<!--    </fieldset>-->
<!--    <button type="submit">Сохранить твои изменея</button>-->
<!--</form>-->

<!--<form th:action="@{/delete/{id}(id=${base.getId()})}" th:object="${base}" target="_blank">-->
<!--    <button>Удали</button>-->
<!--</form>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Меняй меня, если сможешь</h1>

<form th:action="@{/main/edit/{id}(id=${base.getId()})}" th:object="${base}" method="post">
    Название цели: <input type="text" th:field="*{name}"><br/><div class="form-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    Описание: <input type="text" step="any" th:field="*{description}"><br/>
    Важность:
    <div>
        <input type="radio" value="1" th:field="*{rating}"/> 1
        <input type="radio" value="2" th:field="*{rating}"/> 2
        <input type="radio" value="3" th:field="*{rating}"/> 3
        <input type="radio" value="4" th:field="*{rating}"/> 4
        <input type="radio" value="5" th:field="*{rating}"/> 5
    </div>
    <label for="localdate">Дата и время: </label>
    <input type="datetime-local" id="localdate" th:field="*{time}"/><br/><div class="form-error" th:if="${#fields.hasErrors('time')}" th:text="${#fields.errors('time').get(#fields.errors('time').size() - 1)}"></div>
    Категория:
    <p><select th:field="*{category}">
        <option value="LIFE">LIFE</option>
        <option value="WORK">WORK</option>
        <option value="REST">REST</option>
        <option value="FAMILY">FAMILY</option>
        <option value="OTHER">OTHER</option>
    </select></p>

    Повторяющаяся:
    <p><select th:field="*{repeatable}">
        <option value="NEVER">NEVER</option>
        <option value="HOURS">HOURS</option>
        <option value="DAY">DAY</option>
        <option value="WEEK">WEEK</option>
    </select></p>
    <fieldset>
        <legend>Выполнено:</legend>
        <div>
            <input type="checkbox" id="scales" th:field="*{active}" checked/>
            <label for="scales">да</label>
        </div>
    </fieldset>
    <div class="button-group">
        <button type="submit">Сохранить твои изменения</button>
    </div>
</form>

<form th:action="@{/delete/{id}(id=${base.getId()})}" method="post" target="_blank">
    <div class="button-group">
        <button type="submit">Удали</button>
    </div>
</form>

<form action="/main/all" target="_blank">
    <div class="button-group">
        <button>Все твои работы тут</button>
    </div>
</form>
<!--<form th:action="@{/delete/{id}(id=${base.getId()})}" th:object="${base}" target="_blank">-->
<!--    <button>Удали</button>-->
<!--</form>-->
</body>
</html>

