<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Меняй меня, если сможешь </h1>

<form th:action="@{/main/edit/{id}(id=${base.getId()})}" th:object="${base}" method="post">
    Название цели: <input type="text" th:field="*{name}"><br/>
    Описание: <input type="text" step="any" th:field="*{description}"><br/>
    Важность: <div><input type="radio" value="1" th:field="*{rating}"/>
    <input type="radio" value="2" th:field="*{rating}"/>
    <input type="radio" value="3" th:field="*{rating}"/>
    <input type="radio" value="4" th:field="*{rating}"/>
    <input type="radio" value="5" th:field="*{rating}"/></div>
    <label for="localdate">Дата и время: </label>
    <input type="datetime-local" id="localdate" th:field="*{time}"/><br/>
    <fieldset style="width:10em">
        <legend>Выполнено:</legend>
        <div>
            <input type="checkbox" id="scales" th:field="*{active}" checked />
            <label for="scales">да</label>
        </div>
    </fieldset>
    <button type="submit">Сохранить твои изменея</button>
</form>

<form th:action="@{/delete/{id}(id=${base.getId()})}" th:object="${base}" target="_blank">
    <button>Удали</button>
</form>


<form action="/main/all" target="_blank">
    <button>Все твои работы тут</button>
</form>

</body>
</html>