<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
</head>
<body>
<h1>Вход</h1>
<form th:action="@{/login}" method="post">
  <div>
    <label>Username:</label>
    <input type="text" id="username" name="username" />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" id="password" name="password" />
  </div>
  <div>
    <button type="submit">Войти</button>
  </div>
</form>
<div>
  <form action="/register" target="_blank">
    <button>Регистрация</button>
    <p th:if="${param.error}" class="form-error">Неправильный логин или пароль</p>
  </form>
</div>
</body>
</html>

